.wrapper {
    display: grid;
    grid-template-columns: 300px 1fr;
    width: 75%;
    justify-content: center;
    gap: 2rem;
    align-items: flex-start;
    margin: 0 auto;
    padding: 2rem 1rem;
}