.post {
    background-color: var(--gray-800);
    border-radius: 0.5rem;
    padding: 1rem;
}

.post + .post {
    margin-top: 2rem;
}

.post > header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    align-items: flex-start;
}

.post > header time {
    font-size: 0.875rem;
    color: var(--gray-400);
    margin-top: 1rem;
}

.post header img {
    border-radius: 0.25rem;
    overflow: hidden;
    width: 4rem;
    height: 4rem;
}

.author {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.authorInfo {
    display: flex;
    flex-direction: column;
}

.authorInfo span {
    color: var(--gray-400);
    font-size: 0.875rem;
    line-height: 1.6;
}

.content {
    line-height: 1.6;
    color: var(--gray-300);
    margin-top: 1.5rem;
}

.content p {
    margin-top: 1rem;
}

.content a {
    color: var(--green-500);
    text-decoration: none;
    font-weight: bold;
}

.content a:hover {
    color: var(--green-300);
}

.content p:last-child {
    color: var(--green-500);
}

.commentForm {
    width: 100%;
    margin-top: 1.5rem;
    padding-top: 1.5rem;
    border-top: 1px solid var(--gray-600);
}

.commentForm > strong {
    line-height: 1.6;
    color: var(--gray-100);
}

.commentForm textarea {
    width: 100%;
    background-color: var(--gray-900);
    resize: none;
    height: 6rem;
    padding: 1rem;
    border-radius: 0.5rem;
    border: 0;
    color: var(--gray-100);
    line-height: 1.4;
    margin-top: 1rem;
}

.commentForm footer {
    visibility: hidden;
    max-height: 0;
}

.commentForm:focus-within footer {
    visibility: visible;
    max-height: none;
}

.commentForm button[type=submit] {
    padding: 0.5rem 1rem;
    background-color: var(--green-500);
    color: var(--gray-100);
    border: 0;
    border-radius: 0.5rem;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    gap: 0.5rem;
    width: max-content;
    align-items: center;
    margin-top: 1rem;
}

.commentForm button[type=submit]:hover {
    background-color: var(--green-300);
    color: var(--white);
}

.commentList {
    margin-top: 2rem;
}

@media (min-width: 1200px) {
    .post > header {
        flex-direction: row;
    }

    .post > header time {
        margin-top: 0;
    }
}